*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1380px;
  width: 100%;
}

.padding{
  padding: 30px 0;
}

/*DEBUG*/
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

main{
  background-color: gray;
}

/*COLUMN SX*/

.side-column{
  width: 20%;
  background-color: rgba(71, 69, 69, 0.27);
}

/*CARDS CONTAINER*/
.container .upgrade{
  background-color: rgba(59, 53, 53, 0.375);
  height: 70px;
}
.box{
  background-color: rgba(41, 37, 37, 0.349);
}

.box .card{
  width: calc(100%/6);
  height: 150px;
  border: 1px solid black;
}