*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
}

.padding{
  padding: 30px 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

h1 , h2{
  color: white;
  font-size: 1.5rem;
}

h4{
  padding: 10px 0;
}

.content{
  padding: 30px 0;
}

hr{
  width: 150px;
  padding: none;
  margin-top: 10px;
}

/*DEBUG*/
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

main{
  background-color: #141922;
}

/*COLUMN SX*/

.side-column{
  min-width: 200px;
  width: 15%;
  background-color: black;
  z-index: 998;
}

.side-column .menu{
  position:fixed;
  width: 200px;
}

.menu img{
  width: 100%;
  padding:20px 20px;
}

ul li a{
  text-decoration: none;
  color: #A3A3A3;
  padding:10px 20px;
}

ul li{
  list-style: none;
  margin-bottom: 10px;
}

.menu-up .fa-solid{
  margin-right: 10px;
  font-size: 20px;
}

ul li a:hover{
  border-left: 3px solid #ADFF2F;
  color: white;
}

.playlist{
  padding:10px 20px;
}

.playlist .add{
  color: #A3A3A3;
  align-items: center;
  padding: 10px 0;
}

.add .fa-solid{
  font-size: 30px;
}

.newplaylist{
  overflow-y:scroll;
}

.menu-down{
  position: fixed;
  bottom: 70px;
  padding:10px 20px;
}

.app{
  font-size: 12px;
}

.app .fa-solid,
.user .fa-regular,
.add .fa-solid{
  margin-right: 10px;
}


.mobile-menu{
  min-width: 80px;
  width: 5%;
  background-color: rgb(24 23 25);
  z-index: 998;
}

/*CARDS CONTAINER*/
.container .upgrade{
  background-color: rgba(59, 53, 53, 0.375);
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 997;
}

.container.cards{
  margin: 70px 20px;
  overflow-y: auto;
}

.box{
  background-color: rgba(41, 37, 37, 0.349);
}

.box .card{
  width: calc(100%/6);
  height: 150px;
  border: 1px solid black;
  min-width: 100px;
}

/*FOOTER*/
.bottom-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  width: 100%;
  height: 70px;
  background-color: rgb(88, 82, 82);
}


/*RESPONSIVE AREA*/

/*DESKTOP*/
@media screen and (min-width:480px) {
  .mobile-menu{
    display: none;
  }
}

/*TABLER*/
@media screen and (max-width:769px) {
  .box{
    flex-wrap: wrap;
  }
}

/*MOBILE*/
@media screen and (max-width:479px) {
  .side-column{
    display: none;
  }
}

